<form action="/" method="post">
	 Player 1: Please select a secret code:
	 <input type="text" name="secret_code">
	 <input type="submit">
</form>

<br><em><%= @display_message %></em>
<br>Locals: <em><%= locals.inspect %></em>