<form action="/code_maker" method="post"> 
	Player #1 will select the secret code. Which type of player would you like?<br>
	<input type="radio" id="human" name="code_maker" value="1">Human<br>
	<input type="radio" id="computer" name="code_maker" value="2">Computer<br>
	<input id="submit" type="submit">
</form>