<form action="/newguess" method="post">
	Select four of these colors (R)ed, (Y)ellow, (B)lue, (O)range, (G)reen, or (P)urple to make a guess.<br>
	Player 2: Please make guesses until you get 4 black pegs.
	<input type="text" name="new_guess">
	<input type="submit">
</form>

<% unless session[:guesses].empty? %>
<h3>Player 2's Guesses:</h3>
<table style="width:340px">
	<th>
		<td style="width:100px">Guess</td>
		<td style="width:100px">Black Pegs</td>
		<td style="width:100px">White Pegs</td>
	</th>
	<% session[:guesses].each_with_index do |guess, index| %>
	<tr>
		<td>#<%= index + 1 %></td>
		<td><%= guess[0] %></td>
		<td><%= guess[1] %></td>
		<td><%= guess[2] %></td>
	</tr>
	<% end %>
</table>
<% end %>