<!DOCTYPE html>
<html>
  <head>
    <title>Laura's Mastermind</title>
  </head>
  <body>
  	<h2>Let's Play Mastermind!</h2>
      <%= yield %>
			<br>
			<em><%= locals[:display_message] %></em>
      <em><%= @display_message %></em>
  </body>
</html>