<form action="/guesser" method="post">
	Select four of these colors (R)ed, (Y)ellow, (B)lue, (O)range, (G)reen, or (P)urple to make a secret code.<br>
  Player 1: Please select a secret code:
  <input type="text" name="secret_code">
  <input type="submit">
</form>